*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background:rgba(201, 193, 193, 0.185);
    font-family:'lato';
    font-size: 16px;
    background-image: url(../img/footer.png);
}

.contenedor{
    
    width: 90%;
    max-width: 1000px;
    overflow: hidden;
    margin: auto;
    text-align: center;
}

header{
    background-image: url('../img/portada.png');
    height:400px;
    background-repeat: no-repeat;
    background-position:center;
    background-attachment: cover;
    background-color: rgba(128, 128, 128, 0.034);
}

header .menu{
    margin:30px 0;
    display:flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}



header .menu a{
    font-size:18px;
    font-family: 'lato';
    font-weight: 300;
    display: inline-block;
    padding:10px 0;
    margin:0 15px;
    color:#fff;
    text-decoration: none;
}

header .contenido-header{
    margin:120px 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

header .contenido-header .linea-header{
    width: 300px;
    margin: auto;
    height:2px;
    background: #15a4fa;
    margin-bottom:30px;
    text-align: center;
    
}

header .contenido-header .texto-header{
    color:#fff;
    font-weight: 300;
    margin-bottom:30px;
    font-size:20px;
    text-align: center;
}

header .contenido-header .action-header{
    display: inline-block;
    margin: auto;
    color: #fff;   
    text-decoration: none;
    border:1px solid #15a4fa;
    padding: 10px 20px;
    border-radius: 5px;
}


header .contenido-header .boton-centro{
    display: inline-block;
    margin: auto;
    color:rgb(0, 0, 0);   
    border:1px solid #0a0a0a;
    padding: 6px 20px;
    border-radius: 5px;
    cursor: pointer;
}

main .quienes{
    background-color: rgba(128, 128, 128, 0.103);
    padding:60px 0;
}

main .quienes .quienes-titulo{
    color:#000;
    font-size: 25px;
    text-align: center;
    margin-bottom:20px;
}

main .quienes .quienes-parrafo{
    text-align: center;
    color:white;
    font-weight: 600;
}

main .quehacemos{
    margin:60px 0;  

}
main .contenido-cajas{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

main .quehacemos .contenido-cajas .tarjeta{
    width: 30%;
    text-align: center;
    color: white;
}


main .portafolio .portafolio-textos{
    text-align: center;
    margin-bottom: 60px;
    font-size: 20px;
    color:white;
    
}



footer .contacto{
    height:600px;
    background-image: url(../img/portada.png);
    background-position:center;
    padding:60px 0;
}

footer .footer-textos{
    text-align: center;
    color:white;
    font-size:25px;
    background-color:rgba(0, 0, 0, 0.404);
   
}

footer .footer-textos p{
    font-size: 14px;
    margin:10px 0 20px 0;
    color: grey;
    display: flex;
    margin: right;

}
form{
    display: flex;
    flex-direction: column;
    width: 50%;
    display: flex;

   
    
}
footer .contacto  input[type="text"], footer .contacto  input[type="password"], footer .contacto  input[type="email"],
footer .contacto   textarea{
    width: 100%;
    margin: 6px 225px;
    padding: 10px 50px;
    background: black;
    border-radius: 5px;
    color:black;
    border: 3px solid rgb(55, 134, 180);
    font-family: 'lato';
    font-weight: 300;
    text-decoration-style: none;
 
  

   
}


.derecha{
   display: flex;
   justify-content: flex-end;
   margin: center;
  


}


footer .contacto  input[type="submit"]{
    display:block;
    width: 100px;
    margin:10px 0;
    padding: 10px 15px;
    background: none;
    border:1px solid #15a4fa;
    border-radius: 5px;
    color:#fff;
    cursor: pointer;
    float:right;
   
   

}
footer .contacto  input[type="submit"]:hover{
    background: #15a4fa;
    color: #fff;
    
}

.footer{
    height:200px;
    background: #000;
    
}

