<style>
    /*Comentarios CSS */
    body {
        background-image: url(../../../assets/img/portada.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: auto;
        margin-top: auto;
    }
</style>

<body style="background-color: #000000;color: blanchedalmond;">
    <img id="logo" src="../../../assets/img/prueboo.png" alt="" width="150px">
    <div id="contenido">
        <section id="formulario">
            <h1>Iniciar Sesión</h1>
            <input type="text" placeholder="Email" class="control caja-texto">
            <input type="password" placeholder="Password" class="control caja-texto">
            <input type="button" value="Iniciar Sesión" class="control boton">
            <input type="checkbox" id="Recordar">Recordar siempre
        </section>
    </div>
</body>
