<main>
    <div class="main__container">
        <div class="main__title">
            <img src="../../../assets/img/user_.png" width="150px" alt="" class="rounded-circle" />
            <div class="main__greeting">
                <h2>Hola Bienvenido</h2>

            </div>
            <br>

        </div>
    </div>   
</main>

<div class="main__greeting md-col-2">
    <h3>¿Què deseas hacer?</h3>
</div>

<div class="charts">
    <div class="charts__left">
        <div class="charts__left__title">
            <div class="bloque">      
         <button [routerLink]="['/area']" routerLinkActive="router-link-active"  type="button" class="btn btn-success btn-lg d-grid gap-2 d-md-block">Nuevo Proyecto</button>
            </div>
            <div class="bloque">      
                <button [routerLink]="['/area']" routerLinkActive="router-link-active"  type="button" class="btn btn-success btn-lg d-grid gap-2 d-md-block">Adquirir Plan</button>
                   </div>
    
        </div>

    </div>

</div>