<main>
    <div class="main__container">
        <div class="main__title">
            <img src="../../../assets/img/planes.png" width="100px" alt="" />
            <div class="main__greeting">
                <h3>PLanes Disponibles</h3>
            </div>
        </div>
    </div>
</main>
<div class="row">

    <div class="col-md-4" *ngFor="let item of planes">
        <div class="card h-100 color">
            <img src="../../../assets/img/gratuito.png" class="card-img-top" alt="...">
            <button (click)="planSeleccionado(item)" type="button" class="btn btn-success small mt-2 mb-2">Adquirir Plan</button>
            <div class="card-body">
                <p class="card-text">Nombre: {{ item.nombre }}</p>
                <p class="card-text">Cantidad de Proyectos: {{ item.cantidadProyectos }}</p>
                <p class="card-text">Precio: {{ item.precio }}$</p>
                <p class="card-text">Descripción: {{ item.descripcion }}</p>
            </div>
        </div>
    </div>

</div>
