<main>
    <div class="main__container">
        <div class="main__title">
            <img src="../../../assets/img/carpeta.png" width="130px" alt="" />
            <div class="main__greeting">
                <h3>Archivos Compartidos</h3>
            </div>
            <br>
        </div>
    </div>

</main>

<div class="charts">
    <div class="charts__left">
        <div class="charts__left__title">
            <div class="bloque" *ngFor="let item of archivos"  >
                <img src="../../../assets/img/folder.png" width="55px">
            </div>
          

        </div>

    </div>

</div>

<div class="row" *ngIf="archivos.length == 0" >
    <div class="col-12 text-center">
        <img src="../../../assets/img/no_hay.png" width="100px" id="img-archivo" class="img-fluid" alt="">
        <h3>No tiene Archivos Compartidos</h3>
    </div>
</div>

