<div class="col-lg-12">
  <div class="sidebar__menu">
    <div id="sidebar">
      <div class="sidebar__title">
        <div class="sidebar__img">
          <img src="../../../assets/img/sin_fondo.png" alt="" />
          <h1>CODENOW BE</h1>
        </div>
      </div>
    </div>
    <h2>MENU</h2>
    <div class="sidebar__link">
      <i class="fa fa-building-o">
        <a [routerLink]="['/menu/p-admin']" routerLinkActive="router-link-active">Panel Administrativo</a> </i>
    </div>
    <div class="sidebar__link">
      <i class="fa fa-building-o">
        <a [routerLink]="['/menu/perfil']" routerLinkActive="router-link-active">Perfil</a> </i>
    </div>
    <div class="sidebar__link">
      <i class="fa fa-building-o">
        <a [routerLink]="['/menu/clientes']" routerLinkActive="router-link-active">Clientes</a> </i>
    </div>

    <h2>Administracion de perfiles de usuario</h2>
    <div class="sidebar__link">
      <i class="fa fa-building-o">
        <a [routerLink]="['/menu/pagos']" routerLinkActive="router-link-active">Pagos</a> </i>
    </div>

    <div class="sidebar__logout">
      <i class="fa fa-power-off"></i>
      <a href="#">Log out</a>
    </div>
  </div>
</div>