<main>
    <div class="main__container">
      <div class="charts__right">
        <div class="charts__right__title">
          <div>
            <h1>Perfil del Usuario</h1>    
            <br>
            <label>Nombre</label>
            <br>
            <label>Correo </label>
            <br>
            <label>Plan Actual </label>
          </div>

        </div>
    </div>
</div>

<div class="main__container">
    <div class="charts__right">
      <div class="charts__right__title">
        <div>
            <img id="logo" src="../../../assets/img/perfil.png" alt="" width="150px">
            <a><input type="button" class="btn btn-success" value="Cambiar Icono " [routerLink]="['/registro']" routerLinkActive="router-link-active"></a>

        </div>
      </div>
  </div>
</div>
  </main>

