<section class="body">
    <div style="color: blanchedalmond; height: 100vh;">
        <img id="logo" src="assets/img/prueboo.png" alt="" width="150px">
        <div id="contenido" class="mb-5" >
            <div id="formulario" >
                <h1>Registrate</h1>
                <input type="text" placeholder="Nombre" class="control caja-texto" [(ngModel)]="cliente.nombre" />
                <input type="text" placeholder="Apellido" class="control caja-texto" [(ngModel)]="cliente.apellido"/>
                <input type="text" placeholder="Correo" class="control caja-texto" [(ngModel)]="cliente.correo"/>
                <input type="password" placeholder="Password" class="control caja-texto" [(ngModel)]="cliente.contrasenia" />
                <input type="button" value="Registrarme" class="control boton" (click)="crearCliente()" />
            
            </div>
        </div>
    </div>
</section>