<main>
    <div class="main__container">
        <div class="main__title">
            <img src="../../../assets/img/dinero.png" width="130px" alt="" />
            <div class="main__greeting">
                <h3>Pagos</h3>
            </div>
            <br>

        </div>
    </div>


</main>

<div class="charts">
    <div class="charts__left">
        <div class="charts__left__title">
            <div class="bloque">
                Plan Actual <input type="text">
            </div>
        </div>
    </div>
        <div class="charts__left">
            <div class="charts__left__title">
                <div class="bloque">
                    Fecha de Vencimiento de su Plan <input type="datetime">
                </div>

            </div>
        </div>
    </div>
