*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    
}

body{
   
    font-family:'lato';
    font-size: 16px;
    background-color: grey;
    
}


.contenedor{
    
    width: 190%;
    max-width: 1000px;
    overflow: hidden;
    margin: auto;
    text-align: center;
    color: white;
    
}

#logo{

    padding: 20px;
    width:160px;
    float: center  center;
     
}

.contenedor_1{
    background-color: rgba(0, 128, 0, 0.664);
    margin-left: 50px;
    margin-right: 50px;
    align-items: center;

}


header{
    background-image: url('../../../assets/img/portada.png');
    height:700px;
    background-repeat: no-repeat;
    background-position:center;
    background-attachment: cover;
}

header .menu{
    margin:30px 0;
    display:flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    background-color: transparent;
}

.bg-img{
    background-color: rgba(128, 128, 128, 0.863);
}

header .menu a{
    font-size:18px;
    font-family: 'lato';
    font-weight: 300;
    display: inline-block;
    padding:10px 0;
    margin:0 15px;
    color:#fff;
    text-decoration: none;
    
}

header .contenido-header{
    margin:120px 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    
}

header .contenido-header .linea-header{
    width: 300px;
    margin: auto;
    height:2px;
    background: #15a4fa;
    margin-bottom:30px;
    text-align: center;
   
    
}

header .contenido-header .texto-header{
    color:#fff;
    font-weight: 300;
    margin-bottom:30px;
    font-size:20px;
    text-align: center;

}

header .contenido-header .action-header{
    display: inline-block;
    margin: auto;
    color: #fff;   
    text-decoration: none;
    border:1px solid #15a4fa;
    padding: 10px 20px;
    border-radius: 5px;

}


header .contenido-header .boton-centro{
    display: inline-block;
    margin: auto;
    color:rgb(0, 0, 0);   
    border:1px solid #0a0a0a;
    padding: 6px 20px;
    border-radius: 5px;
    cursor: pointer;
    
    
}

main .quienes{
    background-color: rgba(128, 128, 128, 0.103);
    padding:60px 0;
 
}

main .quienes .quienes-titulo{
    color:#000;
    font-size: 25px;
    text-align: center;
    margin-bottom:20px;
   
}

main .quienes .quienes-parrafo{
    text-align: center;
    color:white;
    font-weight: 600;
    
}

main .quehacemos{
    margin:60px 0; 
   

}
main .contenido-cajas{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    color: white;
    
}

main .quehacemos .contenido-cajas .tarjeta{
    width: 30%;
    text-align: center;
    color: white;
 
}


main .portafolio .portafolio-textos{
    text-align: center;
    margin-bottom: 60px;
    font-size: 20px;
    color:grey;
   
    
    
}


#letra{
  color: white;
  margin-right: auto;
 

}

#logo_1{
    margin:10px 0;
    float: center;
    display:unset;
 
}

