<header>
    <header>
        <div class="contenedor">

            <img id="logo" src="assets/img/logoo.png" alt="" width="150px">
        </div>
        <main class="bg-img">
            <section class="quehacemos">
                <div class="contenedor">
                    <div class="contenido-cajas">
                        <div class="tarjeta">
                            <img src="../../../assets/img/quienes_s.jpg" alt="" width="150px"
                                class="imagen-tarjeta rounded-circle">
                            <div class="contenido-tarjeta">
                                <h3 class="titulo-tarjeta">¿Quienes Somos?</h3>
                                <p class="parrafo-tarjeta">CODENOW BE es un entorno de desarrollo social para diseñadores y desarrolladores</p>
                               
                            </div>
                        </div>
                        <div class="tarjeta">
                            <img src="../../../assets/img/hcj.png" alt="" width="148px" class="imagen-tarjeta rounded-circle">
                            <div class="contenido-tarjeta">
                                <h3 class="titulo-tarjeta">¿Que hacemos?</h3>
                                <p class="parrafo-tarjeta">HTML, CSS y Javascript son una parte integral de la vida de un desarrollador CODENOW BE te permite integrar tus fragmentos de codigo y verlos simultaneamente.</p>
                               
                            </div>
                        </div>
                        <div class="tarjeta">
                            <img src="../../../assets/img/ofrecemos.png" width="110px" alt="" class="imagen-tarjeta rounded-circle">
                            <div class="contenido-tarjeta">
                                <h3 class="titulo-tarjeta">¿Que te ofrecemos?</h3>
                                <p class="parrafo-tarjeta">Te permitimos probar rápidamente tus fragmentos de código o incluso implementaciones mucho más complejas.</p>
                
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
    </header>
</header>