<main>
  <div class="main__container">
    <div class="charts__right">
      <div class="charts__right__title">
        <div>
          <h1>Perfil del Administrador</h1>
          <br>
          <label>Nombre:  <span class="color_1">{{nombre}}</span></label>
          <br>
          <label>Apellido:  <span class="color_1">{{apellido}}</span></label>
          <br>
          <label>Correo:  <span class="color_1">{{correo}}</span></label>
        </div>

      </div>
    </div>
  </div>

  <div class="main__container">
    <div class="charts__right">
      <div class="charts__right__title">
        <div>
          <img id="logo" src="{{administrador.fotoPerfil }}" alt="" width="150px">
          <input type="file" (change)="subirFoto($event)" class="d-none" #img>
          <button type="button" class="btn btn-success" (click)=" img.click() " value="Cambiar Icono ">Cambiar
            foto</button>

        </div>
      </div>
    </div>
  </div>
</main>