<main>
    <div class="main__container">
      <div class="charts__right">
        <div class="charts__right__title">
          <div>
            <h1>Perfil del Administrador</h1>
            <br>
            <label>Nombre:</label>
            <br>
            <label>Correo:</label>
            
          </div>

        </div>
    </div>
</div>

<div class="main__container">
    <div class="charts__right">
      <div class="charts__right__title">
        <div>
            <img id="logo" src="../../../assets/img/usuario.png" alt="" width="150px">
            <a><input type="button" class="btn btn-success" value="Cambiar Mi foto " [routerLink]="['/registro']" routerLinkActive="router-link-active"></a>

        </div>
      </div>
  </div>
</div>
  </main>
