<section class="body">
    <div style="color: blanchedalmond; height: 100vh;">
        <img id="logo" src="assets/img/prueboo.png" alt="" width="150px">
        <div id="contenido" class="mb-5">
            <form [formGroup]="login" id="formulario">
                <h1>Iniciar Sesión</h1>
                <input formControlName="correo" type="text" placeholder="Email" class="control caja-texto" />
                <input formControlName="contrasenia" type="password" placeholder="Password"
                    class="control caja-texto" />
                <input (click)="inicio()" type="button" value="Iniciar Sesión" class="control boton" />
                <p> <input type="checkbox" id="Recordar" />Recordar siempre</p>
            </form>
        </div>
    </div>
</section>
