<main>
    <div class="main__container">
        <div class="main__title">
            <img src="../../../assets/img/proyectos.jpg" width="130px" alt="" />
            <div class="main__greeting">
                <h3>Mis Proyectos</h3>
            </div>
            <br>

        </div>
    </div>


</main>

<div class="charts">
    <div class="charts__left">
        <div class="charts__left__title">
            <div class="bloque">
                <button class="btn btn-warning"> <img src="../../../assets/img/folder.png" width="55px"></button>
                <h4>Trabajo_1</h4>
            </div>
            <div class="bloque">
                <button class="btn btn-warning"> <img src="../../../assets/img/folder.png" width="55px"></button>
                <h4>Trabajo_2</h4>
            </div>

            <div>
                <button class="btn btn-warning"> <img src="../../../assets/img/folder.png" width="55px"></button>
                <h4>Trabajo_3</h4>
            </div>

        </div>

    </div>

</div>