<main>
    <div class="main__container">
        <div class="main__title">
            <img src="../../../assets/img/proyectos.jpg" width="130px" alt="" />
            <div class="main__greeting">
                <h3>Mis Proyectos</h3>
            </div>
            <br>

        </div>
    </div>


</main>

<div class="charts">
    <div class="charts__left">
        <div class="charts__left__title">
            <div class="bloque" *ngFor="let item of proyectos">
                <a [routerLink]="['/menu_2/detalle-carpeta/'+item._id]" routerLinkActive="router-link-active" href="">
                    <img src="../../../assets/img/icono_carpeta.png" width="55px">
                </a>
                <h4>{{item.nombreProyecto}}</h4>
            </div>

        </div>

    </div>

</div>