<main>
    <div class="main__container">
        <div class="main__title">
            <img src="../../../assets/img/carpeta.png" width="130px" alt="" />
            <div class="main__greeting">
                <h3>Carpetas Compartidas</h3>
            </div>
            <br>

        </div>
    </div>


</main>

<div class="charts">
    <div class="charts__left">
        <div class="charts__left__title">
            <div class="bloque">
                <img src="../../../assets/img/folder.png" width="55px">
                <h4>Trabajo_1</h4>
                <button type="button" class="btn btn-primary rounded"data-toggle="modal" data-target="#exampleModal_1">
                    Compartir
                </button>
            </div>
            <div class="bloque">
                <img src="../../../assets/img/folder.png" width="55px">
                <h4>Trabajo_2</h4>
                <button type="button" class="btn btn-primary rounded"data-toggle="modal" data-target="#exampleModal_1">
                    Compartir
                </button>
            </div>

            <div>
                <img src="../../../assets/img/folder.png" width="55px">
                <h4>Trabajo_3</h4>
                <button type="button" class="btn btn-primary rounded"data-toggle="modal" data-target="#exampleModal_1">
                    Compartir
                </button>
            </div>

        </div>

    </div>

</div>

 <!-- Modal -->
 <div class="modal fade" id="exampleModal_1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Compartir Carpeta con:</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <div class="modal-body">
            <input class="form-control my-2" type="text" name="" id="correo" placeholder="Correo">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Compartir</button>
        </div>
      </div>
    </div>
  </div>
