<header>
    <div class="contenedor">
        <nav class="menu">
            <a href="">Inicio</a>
            <a [routerLink]="['/acerca']" >Acerca de</a> 
            <a [routerLink]="['/inicio']"  >Iniciar Sesión</a>
        </nav>
        <img src="../../../assets/img/sin_fondo.png" alt="" class="">

        <div class="contenedor">


        </div>
    </div>
</header>

<main class="bg-img" >
    <section class="quienes">
        <div class="contenedor">
            <h4 class="quienes-parrafo">CREA-IMPLEMENTA-DESARROLLA</h4>
            <div class="contenido-header"></div>
            <br>
            <a type="button" class="btn btn-success btn-lg" [routerLink]="['/registro']"  >
                Registro
            </a>
        </div>
    </section>

    <section class="quehacemos">
        <div class="contenedor">
            <div class="contenido-cajas">
                <div class="tarjeta">
                    <img src="../../../assets/img/icono1.png" alt="" class="imagen-tarjeta md-col-1">
                    <div class="contenido-tarjeta">
                        <h3 class="titulo-tarjeta">Trabajos efectivos</h3>
                        <p class="parrafo-tarjeta">Te ofrecemos un rendimiento rápido en tus trabajos, utiliza
                            nuestras herramientas ahora.</p>
                    </div>
                </div>
                <div class="tarjeta">
                    <img src="../../../assets/img/icono2.png" alt="" class="imagen-tarjeta">
                    <div class="contenido-tarjeta">
                        <h3 class="titulo-tarjeta">Calificados por los mejores</h3>
                        <p class="parrafo-tarjeta">Estamos entre las mejores páginas web con herramientas de
                            desarrollo.</p>
                    </div>
                </div>
                <div class="tarjeta">
                    <img src="../../../assets/img/icono3.png" alt="" class="imagen-tarjeta">
                    <div class="contenido-tarjeta">
                        <h3 class="titulo-tarjeta">Herramienta única para desarrolladores</h3>
                        <p class="parrafo-tarjeta">Una herramienta para realizar pruebas a fragmentos de código.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="portafolio">
        <div class="contenedor">
            <h2>Contáctanos </h2>
            <div class="portafolio-textos">
                <h3>codenawbe@registrate.hn</h3>
            </div>
        </div>
    </section>
</main>