<div class="col-lg-12">
    <div class="sidebar__menu">
      <div id="sidebar">
        <div class="sidebar__title">
          <div class="sidebar__img">
            <img src="../../../assets/img/sin_fondo.png" alt="" />
            <h1>CODENOW BE</h1>
          </div>
        </div>
      </div>
      <h2>MENU</h2>
      <div class="sidebar__link">
        <i class="fa fa-building-o">
          <a [routerLink]="['/menu_2/p-user']" >Actualiza tu Plan</a> </i>
      </div>
      <div class="sidebar__link">
        <i class="fa fa-building-o">
          <a [routerLink]="['/menu_2/perfil-user']" >Perfil</a> </i>
      </div>
      <div class="sidebar__link">
        <i class="fa fa-building-o">
          <a [routerLink]="['/menu_2/proyectos']" >Mis Carpetas</a> </i>
      </div>
      <div class="sidebar__link">
        <i class="fa fa-building-o">
          <a [routerLink]="['/menu_2/carpetas']"  >Carpetas Compartidas</a> </i>
      </div>
      <div class="sidebar__link">
        <i class="fa fa-building-o">
          <a [routerLink]="['/menu_2/archivos']"  >Archivos Compartidos</a> </i>
      </div>
  
      <h2>Administracion de tu perfil</h2>
      <div class="sidebar__link">
        <i class="fa fa-building-o">
          <a [routerLink]="['/menu_2/pagos_user']" >Mis Pagos</a> </i>
      </div>
  
      <div class="sidebar__logout">
        <i class="fa fa-power-off"></i>
        <a href="#">Log out</a>
      </div>
    </div>
  </div>
