<div class="col-lg-12">
    <div class="sidebar__menu">
      <div id="sidebar">
        <div class="sidebar__title">
          <div class="sidebar__img">
            <img src="../../../assets/img/sin_fondo.png" alt="" />
            <h1>CODENOW BE</h1>
          </div>
        </div>
      </div>
      <h2>MENU</h2>
      <div class="sidebar__link">
        <i class="fa fa-building-o">
          <a [routerLink]="['/menu_2/p-user']" routerLinkActive="router-link-active">Panel</a> </i>
      </div>
      <div class="sidebar__link">
        <i class="fa fa-building-o">
          <a [routerLink]="['/menu_2/perfil-user']" routerLinkActive="router-link-active">Perfil</a> </i>
      </div>
      <div class="sidebar__link">
        <i class="fa fa-building-o">
          <a [routerLink]="['/menu_2/proyectos']" routerLinkActive="router-link-active">Mis Proyectos</a> </i>
      </div>
  
      <h2>Administracion de tu perfil</h2>
      <div class="sidebar__link">
        <i class="fa fa-building-o">
          <a [routerLink]="['/menu_2/pagos_user']" routerLinkActive="router-link-active">Mis Pagos</a> </i>
      </div>
  
      <div class="sidebar__logout">
        <i class="fa fa-power-off"></i>
        <a href="#">Log out</a>
      </div>
    </div>
  </div>
