<div class="row">
    <div class="col-12">

        <nav class="navbar navbar-expand-lg navbar-light bg-light ">
            <div class="container-fluid ">
                <div class="navbar__left">
                    <a class="active_link" href="#">Bienvenido</a>
                </div>
                <img width="30" src="../../../assets/img/avatar_1.jpg" alt="" />
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

            </div>

        </nav>
    </div>
</div>
