.bg-ligh{
   background: black;
}

.container-fluid{
    background: black;
}

.navbar-expand-lg{
    background: black;
}

.navbar-brand{
    color: white;
}

.letra{
    color: white;
    
}

textarea{
    background-color: black;
    background: black;
    color: white;
}
.large-textarea{
  size: 300px;
    height: 10em;
    width: 500px;
 }

 .centrar{
     background: grey;
     color: white;
     size: 15px;

 }

 .row{
     background: grey;
 }
