<main>
    <div class="main__container">
        <div class="main__title">
            <img src="../../../assets/img/hello.svg" alt="" />
            <div class="main__greeting">
                <h1>Hola Bienvenido</h1>
            </div>
        </div>
    </div>


    <div class="charts">
        <div class="charts__left">
            <div class="charts__left__title">
                <div>
                    <h1>HTML</h1>
                    <img src="../../../assets/img/HTML.png" alt="" width="200px" />
                </div>
                <div>
                    <h1>JavasScript</h1>
                    <img src="../../../assets/img/JS.png" alt="" width="200px" />
                    <h1>CSS</h1>
                    <img src="../../../assets/img/CSS.png" alt="" width="200px" />
                </div>
            
            </div>
         
        </div>

        <div class="charts__right">
            <div class="charts__right__title">
                <div>
                    <h1>Planes Disponibles de CODENOW BE</h1>
                </div>

            </div>

            <div class="charts__right__cards">
                <div class="card1">
                    <h1>Plan Gratis</h1>
                    <p>$0.00</p>
                </div>

                <div class="card3">
                    <h1>Plan mensual</h1>
                    <p>$30</p>
                </div>

                <div class="card4">
                    <h1>Plan Anual</h1>
                    <p>$900</p>
                </div>
            </div>
        </div>
    </div>
</main>